<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<!--    <bean id="vehicle_id" class="org.example.Car"></bean>-->

    <context:component-scan base-package="org.example"></context:component-scan>

<!--    !!!!once we have constructor we can not use following <property> tag!!!!-->
<!--    <bean id="tyre_idx" class="org.example.Tyre">-->
<!--        <property name="brand" value="MRF"></property>-->
<!--    </bean>-->

    <bean id="tyre_idx" class="org.example.Tyre">
        <constructor-arg value="MRF"/>
    </bean>

</beans>